@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Poppins', sans-serif;
  --font-family-text: "Open Sans", sans-serif;
  --text-color: #483FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  margin-bottom: 20px;
}

h1{
  font-size: 28px !important;
}

h2{
  font-size: 20px !important;
}

h3{
  font-size: 15px !important;
}

.title-dashboard{
  font-family:var(--font-family-text);
}

.list{
  list-style-type: disc; 
  padding-left: 20px;
}

.list>li{
  font-size: 13px;
  margin-bottom: 7px;
}

.container-space{
  padding: 20px 20px 20px 120px;
}

.container-space-top{
  padding-top: 20px;
}


.border-container{
  border-right: 2px solid #B5B5B5;
}

.css-1occx1k{
  width: 76% !important;
}

.css-w2fuvf{
  width: 90% !important;
}

.css-1occx1k >.ps-menu-button, .css-w2fuvf >.ps-menu-button  {
  height: 45px !important;
  padding-left: 20px !important;
}

.css-w2fuvf >.ps-menu-button:hover {
  background-color: #b6c3fb;
  color: #4b09aa;
  border-radius: inherit;
}

.css-ahhoty.ps-collapsed {
  width: 100px !important;
  min-width: 100px !important;
}

/* Estilos para elementos deshabilitados */
input:disabled,
input[disabled],
textarea:disabled,
select:disabled,
select[disabled] {
  background-color: #f3f3f3;
  cursor: not-allowed;
  opacity: 0.7;
}
